<configuration>
  <packageSources>
      <add key="gitlab" value="" />
    </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="" />
      <add key="ClearTextPassword" value="" />
    </gitlab>
  </packageSourceCredentials>
</configuration>

<!--nuget push <package_file>  -Source gitlab-->
